@font-face {
    font-family:"old";
    src:url(../fonts/Oldbrothers.ttf) format('truetype');
}

@font-face {
    font-family:'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Festive';
    src: url(../fonts/Festive.ttf) format('truetype');
}

@font-face {
    font-family: 'Ephesis';
    src: url(../fonts/Ephesis.ttf);
}

/* -----------GENERAL STYLES--------------------- */


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 

:root {
    --clr-brandBlue: #005180;
    --clr-brandBlue_light: #3ab0b4;
    --clr-brandBlue_light_transp: #3ab0b4b0;
    --clr-brandSalmon: #E5978B;
    --clr-brandSalmon_light: #ffb4a8;
    --clr-brandPink: #F2E1CF;
    --clr-accent: #5fc231;
    --clr-accent_light: #94e76d;
    --clr-light: #fff;
    --clr-dark: #383838;
    --clr-shadow: #38383865;
    --fw-normal:400;
    --fw-bold:700;
    --fw-black:900;
    --ff-brand:old;
    --ff-common:montserrat;
    --ff-decorative:Festive;
    --ff-signature:Ephesis;
    --ff-accent:impact;
    --grid-showcase: auto 1fr / 1fr 1fr;

    overflow-x:hidden;

}

.btn {
    font-family: var(--ff-common);
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 150px;
    padding: 0.5em;
    border:none;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.4s ease;
    top:0px;
}

.btn:hover {
    background-color: var(--clr-accent);
    color: white;
    /* top:-4px;   todecide */
    box-shadow: 0px 4px 8px var(--clr-shadow);
}



/* ---------GENERAL TYPOGRAPHY------------------- */

h1,h2,h3,p {
    margin:0;
    line-height: 1.5;
    font-family: var(--ff-common);
}

h1 {
    font-family: var(--ff-brand);
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}


/* ----- HEADER/ BANNER ---- */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */





.container__header {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    background-color: var(--clr-brandPink);
}

.header__logo--img {
    max-width: 200px;
    height: auto;
    display: block;
    margin:auto;
    position:relative;
    z-index: 15;
}

.nav {
    max-width: 80vw;
}

.nav ul {
    display: flex;
    background-color: var(--clr-brandSalmon_light);
    border-radius: 5em;
    margin-top: 20px;
}

.nav__item {
    list-style:none;
    padding: 6px 0px;
    border-radius: 5em;
    transition: all 0.3s ease;
}

.nav__item a{
    text-decoration: none;
    color: var(--clr-brandBlue);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    margin: 5px;
    transition: all 0.2s ease;
    padding :5px 5px;
    border-radius: 5em;
}

.banner__title {
    text-align: center;
    color: var(--clr-brandBlue);
    margin: 50px 15px 0px 15px; 
}

.banner__title span {
    color:var(--clr-accent_light);
    text-transform: uppercase;
}

.banner__title, 
.banner__title span {
    position: relative;
    z-index: 10;
}


.banner__btn {
    font-family: var(--ff-accent);
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    background-color: var(--clr-brandSalmon);
    color: white;
    display: block;
    margin:auto;
    margin-top: 3em;
}

.header__deco--up {
    position: absolute;
    top:0px;
    right: 0px;
    width: 100px;
    height: 250px;
    background-image: url(../img/deco_01.png);
}

.header__deco--down {
    background-image: url(../img/deco_01.png);
    position: absolute;
    width: 100%;
    height: 300px;
    background-position-x: -100px;
    top:50vh;
    left: 0px;
    background-repeat: no-repeat;
}






/* --------MAIN------------ */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */




.parallax {
    width:100vw;
    height: 60vh;
    background-image: url(../img/cupcakes_lejos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    background-position-x: -30px;
}

.mainPost {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: auto;   
}

.mainPost__info {
    background-color: var(--clr-brandSalmon_light);
    color:white;
    text-align: center;
    padding: 0 1.8em;
}

.mainPost__info--title,
.mainPost__info--details {
    margin:1em 0em;
    position: relative;
    z-index: 10;
}

.mainPost__info--title span{
    color: var(--clr-brandBlue);
    font-weight: var(--fw-black);
}

.btn--secondary {
    background-color: var(--clr-brandPink);
    color: var(--clr-brandBlue);
    margin-bottom: 1em;
}

.mainPost__imgContainer {
    width: 100vw;
}






/* ------SHOWCASE---------- */
/* ------------------------ */
/* ------------------------ */
/* ------------------------ */





.showcase {
    width: 100vw;
    display: flex;
    flex-direction: column;    
}

.container__showcase--heading {
    width: 100vw;
    position: relative;
}

.showcase__title {
    position: absolute;
    top:20px;
    text-align: center;
    padding: 0.5em 0px 1.5em 0px;
    font-family: var(--ff-brand);
    font-size: 3.5rem;
    text-align: center;
    color: var(--clr-brandBlue);
    width: 100vw;
}

.showcase__heading--deco {
    width: 300px;
    height: 250px;
    grid-area: 1 / 1 / span 2 / span 2;
}


.showcase__cards {
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;    
}

.card {
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    text-align: center;
}

.card__title {
    margin-bottom: 1em;
    font-family:var(--ff-decorative);
    font-size: 2rem;
    background-color: var(--clr-brandSalmon);
}

.card__photo-01 {
    background-image: url(../img/pie_limon.jpg);
}

.card__photo-02 {
    background-image: url(../img/torta_piña.jpg);
}

.card__photo-03 {
    background-image: url(../img/quesillo.jpg);
}

.card__photo-01,
.card__photo-02,
.card__photo-03 {
    width: 100vw;
    max-width: 540px;
    height: 80vh;
    min-height:560px ;
    display: block;
    margin:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__description {
    padding: 1em;
    text-align:justify;
    text-justify: inter-word;
}

/* ---------- SUPPORT ------------- */

.support {
    display: grid;
    grid-template: 1fr / 1fr 60vw 1fr;
    margin: 2em 0em 0em 0em;
    width: 100vw;
    height: 80vh;   
}

.support__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding:0.8em;
    background-color: var(--clr-brandBlue);

}

.support__info--title {
    margin-bottom: 2.3em;
    font-weight: var(--fw-normal);
    color: var(--clr-brandSalmon);
}

.support__info--detail {
    font-family: var(--ff-brand);
    font-size: 2rem;
    color: var(--clr-brandSalmon_light);
    text-transform: uppercase;
}

.support__deco--left,
.support__deco--right {
    background-image: url(../img/deco_cupcakes_02.png);
    background-size: cover;
    background-attachment: fixed; 
    background-size:auto;
    background-repeat: repeat;
}

/* ------- TESTIMONIALS ----------- */
/* ------- ------------------------- */
/* ------- ------------------------- */

.testimonials {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;
    align-items:center;
}

.container__testimonials--title {
    position: relative;
    margin-top: 5em;
    margin-bottom: 2em;
}


.testimonials img {
    width: 300pxpx;
    height: 220px;
}

.testimonials__title {
    position: absolute;
    top: 20px;
    font-family: var(--ff-brand);
    color: var(--clr-brandBlue);
    font-size: 3rem;
    text-align: center;
    margin: 1em 5vw;
}



.testimonials__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 3em;
    margin-bottom: 4em;
    box-shadow: 0 4px 8px 0 var(--clr-shadow);
    transition: 0.3s;
    border-radius: 3em;
    position: relative;
    top:0px;
    background-color: white;
}

.testimonials__person:hover {
    box-shadow: 0 5px 15px 0 var(--clr-accent);
}


.testimonials__person--avatar {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: var(--clr-brandSalmon_light);    
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 2em;
}

.testimonials__person--social {
    font-size: 1rem;
    color:var(--clr-brandSalmon);
    padding:1em;
    display: flex;
}

.testimonials__person--social p {
    align-self:center ;
}

.testimonials__person--icon {
    margin: 0.3em;
    font-size: 1.5rem;
}

.person_01 {
    background-image: url(../img/carlos_giner.JPG);
    background-position-y: -10px;
}

.person_02 {
    background-image: url(../img/Luis_Ocando.png);
    background-position-y: -10px;

}

.person_03 {
    background-image: url(../img/alberto_sobal.jpeg);
}

.testimonials__person--review {
    display: flex;
    flex-direction: column;

}

.testimonials__person--review > h3 {
    padding:2em;
    font-size: 0.8rem;
    color: var(--clr-shadow);
}

.review__p {
    text-align: justify;
    text-justify: inter-character;
} 

.review__name {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    align-self: flex-end;
    font-family: var(--ff-signature);
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-brandBlue);
    transform: rotate(-15deg);
}

/* ----------------CONTACTS -------------- */

.contact {
    margin-bottom: 5em;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1em;
    text-align: center;
    background-color: var(--clr-brandPink);
    padding:2em;
}

.contact__info h3 {
    font-family: var(--ff-brand);
    font-size: 3rem;
    color: var(--clr-brandBlue);
}

.map {
    width: 100vw;
    height: 50vh;
}


/* -------------FOOTER ----------------- */

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--clr-brandBlue);
}

.footer__logo {
    width: 60vw;
}

.footer__nav {
    margin:1em;
    display: flex;
    gap:1em;
    
}

.footer__nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__nav--item a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.footer__socialmedia i{
    font-size: 2rem;
    color: var(--clr-brandPink);
    padding: 0.2em;
    margin-top: 2em;
}

.footer__copy {
    color: white;
    font-size: 0.8rem;
    padding: 5em 0em;
}









/* --------------PHONES ROTATED / Narrows heights ------------------ */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */


@media only screen and (max-height:540px) {
    .header__logo--img {
        max-width: 150px;
    }

    .banner__title {
        display: none;
    }

    .banner {
       position: static;
       margin: auto;
    }

    .banner__btn {
        margin: 0;
        align-self: center;
    }

    .banner__img {
        display: none;
    }
}

/* ----------------------------------------------------------------- */









/*-----  MEDIA QUERIE IPAD TILL DESKTOP ------------------------------------  */

@media only screen and (min-width:570px) {



    p,.nav__item a {
        font-size: 1rem;
        font-family: var(--ff-common);
    }

    .desk__container--nav {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* position: absolute; */
        top: 0px;
        left: 0px; 
        position: fixed;
        z-index: 20;
        background-color: var(--clr-brandPink);
        transition: all 0.5s ease;
    }

    .changeBackgroundColor {
        background-color: var(--clr-brandBlue_light);
    }


    .header__logo--img {
        display: block;
        width: 150px;
    }

    /* #JS added */
    .shrink {
        width: 100px;
    }
    

    .nav {
        margin:0px;
        flex-grow: 1;
        float: right;
        position: relative;
        z-index: 10;
    }

    .nav ul {
        display: flex;
        justify-content: flex-end;
        background-color: var(--clr-brandPink);
        margin-top: 0px;
    }

    /* #JS added */
    .makeTransparent {
        background-color:rgba(0, 0, 0, 0) !important;
    }

    .nav__item:hover {
        background-color: white;
    }

    .banner__title {
        font-size: 3.5em;
        text-align:left ;
    }

    .banner {
        /* position: absolute; */
        top: 16vh;
        left: 0px;
        width: 55vw;
        margin-right: 25vw;
        /* margin-left: 14vw; */
        display: flex;
        flex-direction: column;
    }


    .banner__title span {
        /* color:rgb(253, 52, 52); todecide*/
        color:var(--clr-accent_light);  
    }

    .banner__btn {
        margin-left: 0px;
    }

    .banner__img {
        position: absolute;
        z-index: 16;
        margin-top: 30vh;
        right: 8vw;
        width: 500px;
        height: 650px;
        background-image: url(../img/torta_fresa_png.png);
        background-position: center;
        background-size: cover;
        transform: scaleX(-1);
    }

    .header__deco--up {
        background-repeat: repeat;
        width: 300px;
        height: 600px;
        top:100px;
        z-index: 15;
    }

    header {
        background-color: white;
    }



    .parallax {
        height: 80vh;
        min-height: 600px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        background-image: url(../img/torta_rosa.jpg);
    }




}

/*-----  MEDIA QUERIE IPADS AND WEIRD WIDTHS---------  */


@media only screen and (min-width:900px) and (max-width:1120px) {
    
    .banner__img {
        width: 380px;
        height: 490px;
    }

    .banner__title {
        font-size: 3em;
    }

}


@media only screen and (min-width:660px) and (max-width:900px) {
    
    .banner__img {
        width: 300px;
        height: 390px;
    }

    .banner__title {
        font-size: 2.5em;
    }

    .nav__item:last-child {
        margin-right: 50px;
    }

    .mainPost__info--title {
        margin:0px;
    }

    .mainPost__imgContainer {
        width: 100vw;
    }
    
 

}

@media only screen and (min-width:570px) and (max-width:690px) {
    
    .desk__container--nav {
        flex-direction: column;
    }

    .header__deco--up {
        width: 100px;
    }

    .banner__title {
        top:80px;
    }
    
    .banner__btn {
        top:80px;
    }

    .banner__img {
        width: 250px;
        height: 300px;
    }

    .banner__title {
        font-size: 2.5em;
    }
}






/* ---------------- ONLY DESKTOP LARGE --------------- */


/* de 800px para arriba */
@media only screen and (min-width:800px) {
    .nav {
        margin-right: 100px;
    }

    .header__logo--img {
        margin-left: 100px;
        transition: width 0.5s ease;
    }

    .mainPost {
        flex-direction: row;
        justify-content: center;
        max-height: 500px;
        margin:50px 10vw;  
    }

    .mainPost__info {
        padding: 0px 0px;
        min-width: 300px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .mainPost__info--title {
        font-size: 1.8rem;
        margin-top: 1em;
    }

    .mainPost__info--details{
        padding: 1em 2em;
        text-align: left;
    }

    .mainPost button {
        margin-top: 1em;
    }

    .mainPost__imgContainer {
        width: 400px;
    }

    .mainPost__info--img {
        max-height: 100%;
    }    


    /* -----------------showcase------------ */

    .wrapper {
        width: 90%;
        height: auto;
        margin:auto;
    }

    .showcase__title {
        font-size: 5rem;
    }

    .showcase__heading--deco {
        width: 400px;
    }

    .showcase__cards {
        max-width: 100vw ;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap:30px;
        align-self: center;
    }

    .card {
        flex-direction: row;
        box-shadow: 0px 4px 8px var(--clr-shadow);
        align-items: flex-end;
        height: 420px;
        width: 420px;
        transition: transform 0.5s ease;
        overflow:hidden;
    }

    .card__photo-01,
    .card__photo-02,
    .card__photo-03,
    .card__photo-04,
    .card__photo-05,
    .card__photo-06{
       display: none;
    }

    .card__background01 {
        background-image: url(../img/pie_limon.jpg);
    }
    .card__background02 {
        background-image: url(../img/torta_piña.jpg);
        background-position-y:bottom;

    }
    .card__background03 {
        background-image: url(../img/tres_leches.jpg);
    }

    .card__background04 {
        background-image: url(../img/torta_pinpon.jpg);
    }

    .card__background05 {
        background-image: url(../img/cupcakes_lejos.jpg);
        background-position-y:bottom ;
    }

    .card__background06 {
        background-image: url(../img/torta_rosa.jpg);
        background-position-x:right ;
    }

    .card__background01,
    .card__background02,
    .card__background03,
    .card__background04,
    .card__background05,
    .card__background06{
        background-size:cover;
        background-repeat: no-repeat;
    }

    .card__text {
        --padding: 3rem;
        padding:var(--padding);
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background:linear-gradient(
             hsl(0 0% 0% / 0),
             hsl(20 0% 0% / 0.7) 40%,
             hsl(0 0% 0% / 1
             )

        );
        transform: translateY(70%);
        transition: transform 0.5s ease;
    }

    .card:hover .card__text {
        transform: translateY(0%);
    }

    /* #000000b0 */
    .card__title {
        position: relative;
        width: max-content;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
        color: var(--clr-accent);
        font-size: 3rem;
        margin-bottom: 1em;
    }

    .card__title::after {
        content: '';
        height: 4px;
        width: calc(100% + var(--padding));
        background-color: var(--clr-brandSalmon);
        position: absolute;
        left:calc(var(--padding) * -1);
        bottom: 0;
        transition: transform 0.5s ease;
        transform: scaleX(0);
        transform-origin: left;
    }

    .card:hover .card__title::after {
        transform: scaleX(1);
    }

    .card__description {
        color: var(--clr-brandPink);
        font-size: .8rem;
        padding:0px;
    }

    .card:hover {
        transform: scale(1.05);
    }

    /* .support__deco--left,
    .support__deco--right{
        background-size:auto;
        background-repeat: repeat;
    } */

    .testimonials {
        display: flex;
        width: 90vw;
        margin: auto;
        align-items:center;
    }

    .testimonials__wrapper {
        display: flex;
        gap:20px;
        justify-content: space-around;
    }

    .container__testimonials--title {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .testimonials__title {
        text-align: center;
        margin:0;
    }

    .testimonials__person {
       width: 400px;
    }

    .review__p {
        margin: auto;
        text-align:center;
    }

    .support__info--detail {
        font-size: 3rem;
    }

    .footerContent__wrapper{
        display: flex;
        flex-direction: row;
        align-items:center;
    }

    .footer__logo {
        max-width:300px ;
    }
    
    .footer__nav {
        gap:90px;
    }

    .footer__nav--item {
        margin-top: .8em;
    }

    .footer__nav--item a{
        font-size: 1.2rem;
    }

    .footer__socialmedia{
        display: flex;
        flex-direction: column;
        margin-left: 8em;
        margin-right: 3em;
    }

    .footer__socialmedia i{
        margin:0;
    }

    .footer__copy {
        padding: 0;
        margin-bottom: 20px;
    }

}

/* de 800px para abajo */
@media only screen and (max-width:800px) {
    .mainPost__info--img {
        max-width: 100%;
    } 

    .footerContent__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* de 1200 para abajo */
@media only screen and (max-width:1200px) and (min-width:750px){
    .testimonials__wrapper {
        flex-direction:column;
        align-items: center;
    }

    .testimonials__person {
        width: 700px;
    }
}